[Unit]
Description=Mailbox synchronization service
OnFailure=notify-failed@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va -c ${DOTFILES_PRIVATE}/mbsyncrc
ExecStartPost=/usr/bin/sh %h/.config/neomutt/scripts/post-sync
