[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va -c ${DOTFILES_PRIVATE}/mbsyncrc
ExecStartPost=~/.config/neomutt/scripts/post-sync
