[Unit]
Description=Nextcloud synchronization timer

[Timer]
OnBootSec=10m
OnUnitActiveSec=30m
Unit=nextcloud.service

[Install]
WantedBy=timers.target
