[Unit]
Description=handle automounting

[Service]
ExecStart=/usr/bin/udiskie -T -q --use-udisks2 -a -c ${DOTFILES_PRIVATE}/udiskie/config.yml
Restart=always

[Install]
WantedBy=default.target
