[Unit]
Description=handle automounting

[Service]
ExecStart=%h/.local/bin/udiskie -T -v -a -c ${DOTFILES_PRIVATE}/udiskie/config.yml
Restart=always

[Install]
WantedBy=default.target
