Host *
AddressFamily inet
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
CheckHostIP yes
Compression no
ConnectionAttempts 1
ConnectTimeout 10
Port 22
ForwardX11 no
ServerAliveInterval 100

Host myhostname
HostName myhostname-address.ltd
User myusername
