.cache
.abook
.ssh
*.swp
*.local
*.log
*.bak
.cfg
.msmtprc
.mbsyncrc
.offlineimaprc
.Xresources.local
.config/nvim/init.local.vim
.config/systemd/user/mbsync.service.d/override.conf
.dotfiles-private
.dotfiles-local
.cfg-private
.zshrc.local
.xinitrc.local
.virtualenvs/*
backups/
cloud/
desktop/
dev
downloads/
games/
images/
mail/
mnt/
music/
system/
tmp/
videos/
www/
