# first ignore all
/**

# then include needed - the rest is included with force (-f) parameters
# this technic allow to follow untracked files in some directories
# see specific folders (it's not possible to re-include a subfolder when the
# parent folder has been ignored)

!bin/
!bin/*
!/.config/
!/.config/dunst/
!/.config/dunst/**
!/.config/htop/
!/.config/htop/**
!/.config/i3/
!/.config/i3/**
!/.config/kitty/
!/.config/kitty/**
!/.config/mpd/
!/.config/mpd/**
!/.config/mpv/
!/.config/mpv/**
!/.config/ncmpcpp/
!/.config/ncmpcpp/**
!/.config/neomutt/
!/.config/neomutt/**
!/.config/nvimpager/
!/.config/nvimpager/**
!/.config/polybar/
!/.config/polybar/**
!/.config/qutebrowser/
!/.config/qutebrowser/**
!/.config/ranger/
!/.config/ranger/**
!/.config/redshift/
!/.config/redshift/**
!/.config/rofi/
!/.config/rofi/**
!/.config/rofi-pass/
!/.config/rofi-pass/**
!/.config/sway/
!/.config/sway/**
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/**
!/.config/udiskie/
!/.config/udiskie/**
!/.config/vimb/
!/.config/vimb/**
!/.config/waybar/
!/.config/waybar/**
!/.config/zathura/
!/.config/zathura/**
!/.pandoc/
!/.pandoc/data/
!/.pandoc/data/templates
!/.pandoc/data/templates/**
!.urxvt/
!.urxvt/*

# # then exclude again special files

# ignore systemd symlinks
.config/systemd/user/*.wants/**
.config/systemd/user/*.d

tmp/**
*.swp
*.old
*.tmp
*.local
*.private
*.log
*.bak
.ctags
**/__pycache__/**
