# Set default values for all following accounts.
defaults
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
#tls_fingerprint 87:DF:0C:44:47:8C:5B:9F:E3:1B:07:F9:CE:5A:E8:0F:37:F8:28:4C
logfile ~/.msmtp.log

# A mail service
account gomunochikin
host           smtp.domain.ltd
port           587
auth on
from myaccount@gmail.com
user myaccount@gmail.com
# using gpg with pass
passwordeval "pass domain.ltd/myaccount"

# Set a default account
account default : myaccount
