[general]
accounts = MyAccountName
maxsyncaccounts = 3
ui = ttyui
pythonfile = ~/bin/offlineimap-gpg.py
# Die after 120 seconds of nothing. Probably the connection died ...
socktimeout = 60

[Account MyAccountName]
localrepository  = myaccount-local
remoterepository = myaccount-remote
autorefresh = 10
# Quick-syncs do not update if the only changes were to IMAP flags.
# autorefresh=0.5 together with quick=10 yields
# 10 quick refreshes between each full refresh, with 0.5 minutes between every 
# refresh, regardless of type.
quick=10

[Repository myaccount-local]
type = Maildir
localfolders = ~/mail/myaccount
nametrans = lambda foldername: re.sub ('^gmail\.', '[Gmail]/',
                               re.sub ('inbox', 'INBOX',
                               re.sub ('sent', 'Messages envoy&AOk-s',
                               re.sub ('drafts', 'Brouillons',
                               re.sub ('spam', 'Spam',
                               re.sub ('trash', 'Corbeille' , foldername ))))))

[Repository myaccount-remote]
type = IMAP
remotehost = imap.gmail.com
remoteuser = myaccount@gmail.com
ssl = yes
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
nametrans = lambda foldername: re.sub ('^\[gmail\]', 'gmail',
                               re.sub ('messages_envoyés', 'sent',
                               re.sub ('brouillons', 'drafts',
                               re.sub ('corbeille', 'trash',
                               re.sub (' ', '_', foldername.decode('imap4-utf-7').encode('utf-8').lower())))))

folderfilter = lambda foldername: foldername not in ['[Gmail]/Tous les messages']

# avoid creating folders on gmail
createfolders = False

auth_mechanisms = XOAUTH2
oauth2_client_id_eval = get_pass('gmail.com/myaccount-id')
oauth2_client_secret_eval = get_pass('gmail.com/myaccount-secret')
oauth2_request_url = https://accounts.google.com/o/oauth2/token
oauth2_refresh_token_eval = get_pass('gmail.com/myaccount-token')

[mbnames]
enabled = yes
filename = ~/.mutt/mailboxes
header = "mailboxes "
#peritem = "+%(accountname)s/%(foldername)s"
peritem = "+%(foldername)s"
sep = " "
footer = "\n"
