! Maintainer: sheoak <dev@sheoak.fr>

! ----------------------------------------------------------------------------
! Global
! ----------------------------------------------------------------------------
*monitor:     eDP-1
*monitorext:  HDMI-1

! TODO: clean and use in i3, zsh, kitty…
*black:       #000000
*white:       #DDDDDD
*red:         #dc322f
*green:       #98971a
*yellow:      #fba922
*blue:        #458588
*lightblue:   #268bd2
*purple:      #9f78e1
*gray:        #777777
*darkgray:    #333333
*transparent: #00000055

! ----------------------------------------------------------------------------
! I3
! ----------------------------------------------------------------------------
i3wm*font: pango:Deja Vu Sans 12
i3wm*mod:  Mod1
i3wm*win:  Mod4

! ----------------------------------------------------------------------------
! Cursor theme
! ----------------------------------------------------------------------------
Xcursor*theme: aero
Xcursor*size:  16

! ----------------------------------------------------------------------------
! Xft fonts
! ----------------------------------------------------------------------------
Xft.dpi:            96
Xft.antialias:      true
Xft.rgba:           rgb
Xft.hinting:        true
Xft.hintstyle:      hintslight
XTerm*bellIsUrgent: true
