! Maintainer: sheoak <dev@sheoak.fr>

! ! #include ".xcolors/solarized_dark"

! Global
*monitor:     eDP-1
*monitorext:  HDMI-1

! I3
i3wm*font: pango:Deja Vu Sans 12
i3wm*mod:  Mod1
i3wm*win:  Mod4

! Cursor theme
Xcursor*theme: aero
Xcursor*size:  16

! Xft fonts
Xft.dpi:            192
Xft.antialias:      true
Xft.rgba:           rgb
Xft.hinting:        true
Xft.hintstyle:      hintslight
XTerm*bellIsUrgent: true
