! Maintainer: sheoak <dev@sheoak.fr>

! Should be set in $DOTFILES_LOCAL/Xresources.*
! *monitor:     DP-2
! *monitorext:  DP-1.3
! *monitothree: DP-1.1
! *monitormain: DP-1.3
! *.dpi:        282

! I3
i3wm*font: pango:Fira Code 10
i3wm*mod:  Mod1
i3wm*win:  Mod4

! Cursor theme
! Xcursor*theme: aero
Xcursor*theme: volantes_light_cursors
Xcursor*size:  26

! Xft fonts
Xft.antialias:      true
Xft.rgba:           rgb
Xft.hinting:        true
Xft.hintstyle:      hintslight

! Xterm
XTerm*bellIsUrgent: true
